@page
@using DbNetSuiteCoreApp.ViewModels;
@using DbNetSuiteCore.Components;
@using DbNetSuiteCore.Enums;

@model SampleModel

@section Title
{
    <p>The @Model.HelpLink("properties.htm#GroupBy", "GroupBy") property groups the returned data by all the columns that do not have an @Model.HelpLink("methods.htm#Aggregate", "Aggregate") property set. In this example the data is grouped by Product.</p>
}

@section Control
{
    @{
        DbNetGridCore productSalesSummaryGrid = new DbNetGridCore("northwind", "Invoices");
        productSalesSummaryGrid.Columns = new List<string>() { "ProductName", "OrderDate as FirstOrder", "OrderDate as LastOrder", "(UnitPrice * Quantity) as TotalValue", "(UnitPrice * Quantity) as AvgValue" };
        productSalesSummaryGrid.Labels = new List<string>() {  "Product", "First Order", "Last Order", "Total Value", "Average Value" };
        productSalesSummaryGrid.GroupBy = true;
        productSalesSummaryGrid.SetColumnProperty(new String[] { "TotalValue", "AvgValue" }, ColumnPropertyType.Format, "c");
        productSalesSummaryGrid.SetColumnProperty(new String[] { "FirstOrder", "LastOrder" }, ColumnPropertyType.Format, "MMM yyyy");
        productSalesSummaryGrid.SetColumnProperty(new String[] { "TotalValue", "AvgValue" }, ColumnPropertyType.DataType, nameof(Decimal));
        productSalesSummaryGrid.SetColumnProperty("FirstOrder", ColumnPropertyType.Aggregate, AggregateType.Min);
        productSalesSummaryGrid.SetColumnProperty("LastOrder", ColumnPropertyType.Aggregate, AggregateType.Max);
        productSalesSummaryGrid.SetColumnProperty("TotalValue", ColumnPropertyType.Aggregate, AggregateType.Sum);
        productSalesSummaryGrid.SetColumnProperty("AvgValue", ColumnPropertyType.Aggregate, AggregateType.Avg);
        @productSalesSummaryGrid.Render()
    }
}

@section Source
    {
<pre>
    <code class="language-csharp">
DbNetGridCore productSalesSummaryGrid = new DbNetGridCore("northwind", "Invoices");
productSalesSummaryGrid.Columns = new List<string>() { "ProductName", "OrderDate as FirstOrder", "OrderDate as LastOrder", "(UnitPrice * Quantity) as TotalValue", "(UnitPrice * Quantity) as AvgValue" };
productSalesSummaryGrid.Labels = new List<string>() {  "Product", "First Order", "Last Order", "Total Value", "Average Value" };
productSalesSummaryGrid.GroupBy = true;
productSalesSummaryGrid.SetColumnProperty(new String[] { "TotalValue", "AvgValue" }, ColumnPropertyType.Format, "c");
productSalesSummaryGrid.SetColumnProperty(new String[] { "FirstOrder", "LastOrder" }, ColumnPropertyType.Format, "MMM yyyy");
productSalesSummaryGrid.SetColumnProperty(new String[] { "TotalValue", "AvgValue" }, ColumnPropertyType.DataType, nameof(Decimal));
productSalesSummaryGrid.SetColumnProperty("FirstOrder", ColumnPropertyType.Aggregate, AggregateType.Min);
productSalesSummaryGrid.SetColumnProperty("LastOrder", ColumnPropertyType.Aggregate, AggregateType.Max);
productSalesSummaryGrid.SetColumnProperty("TotalValue", ColumnPropertyType.Aggregate, AggregateType.Sum);
productSalesSummaryGrid.SetColumnProperty("AvgValue", ColumnPropertyType.Aggregate, AggregateType.Avg);
@@orderTotalsGrid.Render()
    </code>
</pre>
}