@page
@using DbNetSuiteCoreApp.Enums;
@using DbNetSuiteCoreApp.Pages.Samples;
@using Microsoft.AspNetCore.Html;
@model MenuModel
@{
    ViewData["Title"] = "Samples Menu";
}
@section Styles{
    <style>
        .more {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiB3aWR0aD0iMjQiPjxwYXRoIGQ9Ik00ODAtMzQ1IDI0MC01ODVsNTYtNTYgMTg0IDE4NCAxODQtMTg0IDU2IDU2LTI0MCAyNDBaIi8+PC9zdmc+");
        }

        .less {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiB3aWR0aD0iMjQiPjxwYXRoIGQ9Im0yOTYtMzQ1LTU2LTU2IDI0MC0yNDAgMjQwIDI0MC01NiA1Ni0xODQtMTg0LTE4NCAxODRaIi8+PC9zdmc+");
        }

        .grid {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0cHgiIGZpbGw9IiM1NDZFN0EiPjxnPjxyZWN0IGZpbGw9Im5vbmUiIGhlaWdodD0iMjQiIHdpZHRoPSIyNCIvPjwvZz48Zz48Zz48Zz48cGF0aCBkPSJNMywzdjhoOFYzSDN6IE05LDlINVY1aDRWOXogTTMsMTN2OGg4di04SDN6IE05LDE5SDV2LTRoNFYxOXogTTEzLDN2OGg4VjNIMTN6IE0xOSw5aC00VjVoNFY5eiBNMTMsMTN2OGg4di04SDEzeiBNMTksMTloLTR2LTRoNFYxOXoiLz48L2c+PC9nPjwvZz48L3N2Zz4=");
            color:steelblue;
        }

        .component {
            font-weight: bold;
            background-color: #CFD8DC;
            border: 1px solid #1A5276;
            color: #1A5276;
            border-radius: 2px;
            padding:2px;
            margin-top:5px;
        }

        .sample {
            padding: 2px;
        }

        .menu-title-text {
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 20px 20px;
            padding-right: 20px;
        }

        .menu {
            column-rule: solid 1px gainsboro;
            column-count: 4;
        }

    </style>
}
@section Markup{
    <h2>DbNetSuiteCore Samples</h2>
    <div class="col-12 menu">
        @foreach (var component in Model.Samples.Keys)
        {
            @Section(component)
            var samples = Model.Samples[component];
            @foreach (var sample in samples)
            {
                @Row($"{component}/{sample.Page}", component, sample.Title)
            }
        }
    </div>
}
@section Scripts {
} 

@functions
{
    static HtmlString Row(string pageName, Components component, string label)
    {
        return new HtmlString($"<div class=\"sample\"><a href='/samples/{pageName}'>{label}</a></div>");
    }

    static HtmlString Section(Components component)
    {
        return new HtmlString($"<div class=\"component menu-title-text grid\">{component.ToString()}</div>");
    }
}