@page
@using DbNetSuiteCoreApp.ViewModels;
@using DbNetSuiteCore.Components;
@using DbNetSuiteCore.Enums;
@model SampleModel
@section Title
{
    <p>CSS styles can be applied to columns when being displayed with the column @Model.HelpLink("methods.htm#Style","Style") property.</p>
}

@section Control
{
    @{
        DbNetGridCore productsGrid = new DbNetGridCore("northwind", "Products");
        productsGrid.Columns = new List<string>() { "ProductName", "UnitPrice", "UnitsInStock" };
        productsGrid.SetColumnProperty("UnitPrice", ColumnPropertyType.Style, "background-color:gold; color:steelblue");
        productsGrid.SetColumnProperty("UnitPrice", ColumnPropertyType.Format, "c");
        productsGrid.ToolbarButtonStyle = ToolbarButtonStyle.ImageAndText;
        productsGrid.PageSize = 10;

        @productsGrid.Render()
    }
}

@section Source
    {
    <pre>
    <code class="language-csharp">
DbNetGridCore productsGrid = new DbNetGridCore("northwind", "Products");
productsGrid.Columns = new List<string>() { "ProductName", "UnitPrice", "UnitsInStock" };
productsGrid.SetColumnProperty("UnitPrice", ColumnPropertyType.Style, "background-color:gold; color:steelblue");
productsGrid.SetColumnProperty("UnitPrice", ColumnPropertyType.Format, "c");
productsGrid.ToolbarButtonStyle = ToolbarButtonStyle.ImageAndText;
productsGrid.PageSize = 10;

@@productsGrid.Render()
                </code>
            </pre>
}