@page
@using DbNetSuiteCoreApp.ViewModels;
@using DbNetSuiteCore.Components;
@using DbNetSuiteCore.Enums;
@model SampleModel

@section Title {
    <p>An expanded view of the currently selected record can be achieved by using the @Model.HelpLink("properties.htm#View", "View") property to make a view dialog available from the toolbar. The columns that appear in the dialog can be controlled by setting the column @Model.HelpLink("methods.htm#View", "View") property to true. The example also uses the @Model.HelpLink("methods.htm#View", "OnViewRecordSelected") event to set the title of the View dialog for the record being displayed</p>
}

@section Control {
    @{
        DbNetGridCore employeesGrid = new DbNetGridCore("northwind", "employees")
        {
            View = true
        };
        employeesGrid.SetColumnProperty("reportsto", ColumnPropertyType.Lookup, new Lookup("Employees", "EmployeeId", "lastname + ',' + firstname"));
        employeesGrid.SetColumnProperty("Photo", ColumnPropertyType.Image, true);
        employeesGrid.SetColumnProperty(new String[] { "photo", "notes", "photopath" }, ColumnPropertyType.Display, false);
        employeesGrid.SetColumnProperty(new String[] { "firstname", "lastname", "photo", "notes", "photopath" }, ColumnPropertyType.View, true);
        employeesGrid.Bind(EventType.OnViewRecordSelected, "updateTitle");

        @employeesGrid.Render()
    }
}

@section Scripts {
    <script type="text/javascript" class="source">
        function updateTitle(sender, args) {
            args.dialog.dialog("option", "title", args.record["firstname"] + " " + args.record["lastname"]);
        }
    </script>
}

@section Source
    {
    <pre>
    <code class="language-csharp">
        DbNetGridCore employeesGrid = new DbNetGridCore("northwind", "employees")
        {
            View = true
        };
        employeesGrid.SetColumnProperty("reportsto", ColumnPropertyType.Lookup, new Lookup("Employees", "EmployeeId", "lastname + ',' + firstname"));
        employeesGrid.SetColumnProperty("Photo", ColumnPropertyType.Image, true);
        employeesGrid.SetColumnProperty(new String[] { "photo", "notes", "photopath" }, ColumnPropertyType.Display, false);
        employeesGrid.SetColumnProperty(new String[] { "firstname", "lastname", "photo", "notes", "photopath" }, ColumnPropertyType.View, true);
        employeesGrid.Bind(EventType.OnViewRecordSelected, "updateTitle");

        @@employeesGrid.Render()
                </code>
            </pre>
}
