@page
@using DbNetSuiteCoreApp.ViewModels;
@using DbNetSuiteCore.Components;
@using DbNetSuiteCore.Enums.DbNetGrid;

@model SampleModel
@section Title
{
    <p>The @Model.HelpLink("dbnetedit_properties.htm#Columns","Columns") property allows you to select the particular columns from the table you wish to appear in the form. Associated corresponding labels can be specified with the @Model.HelpLink("dbnetedit_properties.htm#Labels","Labels") property.</p>
}
@section Control
{
    @{
        DbNetEditCore customersEdit = new DbNetEditCore("northwind", "customers");
        customersEdit.Columns = new List<string>() { "CustomerId", "CompanyName", "Address", "City", "Country", "Phone", "Fax" };
        customersEdit.Labels = new List<string>() { "CustomerId", "Company Name", "Address", "City", "Country", "Mobile", "Office" };
        customersEdit.Column("CustomerID").Hidden();
        customersEdit.Column("CompanyName").ReadOnly();
        customersEdit.Column(new string[] { "CompanyName", "City", "Country" }).Search();
        @customersEdit.Render()
    }
}

@section Source {
DbNetEditCore customersEdit = new DbNetEditCore("northwind", "customers");
customersEdit.Columns = new List<string>() { "CustomerId", "CompanyName", "Address", "City", "Country", "Phone", "Fax" };
customersEdit.Labels = new List<string>() { "CustomerId", "Company Name", "Address", "City", "Country", "Mobile", "Office" };
customersEdit.Column("CustomerID").Hidden();
customersEdit.Column("CompanyName").ReadOnly();
customersEdit.Column(new string[] { "CompanyName", "City", "Country" }).Search();
@@customersEdit.Render()
}
