@page
@using DbNetSuiteCoreApp.ViewModels;
@using DbNetSuiteCore.Components;

@model SampleModel

@section Title
{
    <p>The layout of the edit form can be modified by using the @Model.HelpLink("dbnetedit_properties.htm","LayoutColumns") property which will distribute the fields over the specified number of columns.</p>
}

@section Control
{
    @(
    new DbNetEditCore("northwind", "customers") { LayoutColumns = 2 }.Render()
    )
}

@section Source {
    @@(new DbNetEditCore("northwind", "customers") { LayoutColumns = 2 }.Render())
}