@page
@using DbNetSuiteCore.Enums;
@using DbNetSuiteCore.Enums.DbNetCombo;
@using DbNetSuiteCoreApp.ViewModels;
@using DbNetSuiteCore.Components;

@model SampleModel

@section Title
{
    <p>A filter can be added to the combo to mnake it easier to find the required option by setting the @Model.HelpLink("dbnetcombo_properties.htm#AddFilter","AddFilter") option to true. This sample also specfies the @Model.HelpLink("dbnetcombo_constructors.htm#ID","Id") of an existing element to act as the container for the list</p>
}

@section Markup
{
    <div id="filteredcustomers"></div>
    <div id="optionsLoaded"></div>
}

@section Control
{
    @{
        var customersCombo = new DbNetComboCore("northwind", "customers", "customerid", "companyname", "filteredcustomers") { AddFilter = true };
        customersCombo.Bind(EventType.OnOptionsLoaded, "showNumberOfOptionsLoaded");
        @customersCombo.Render();
    }
}

@section Scripts
    {
    <script type="text/javascript" class="source">
        function showNumberOfOptionsLoaded(control, args) {
            $('#optionsLoaded').html(`<b>${args.options.length}</b> customers loaded`)
        }
    </script>
}