@page
@using DbNetSuiteCore.Enums;
@using DbNetSuiteCore.Enums.DbNetGrid;
@using DbNetSuiteCoreApp.ViewModels;
@using DbNetSuiteCore.Components;

@model SampleModel

@section Title
    {
    <p>The @Model.HelpLink("dbnetcombo_methods.htm#AddLinkedControl", "AddLinkedControl") method can also be used to link a combo box to the @Model.HelpLink("constructors.htm", "DbNetGridCore") control acting as a filter for the control</p>
}

@section Markup
    {
    <div class="source">
        <div class="row">
            <div class="col-2">
                <h5>Regions</h5>
                <div id="regions"></div>
            </div>
            <div class="col-2">
                <h5>Territories</h5>
                <div id="territories"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Employees</h5>
                <div id="employees"></div>
            </div>
        </div>
    </div>
}
@section Control {
    @{
        DbNetGridCore employeesGrid = new DbNetGridCore("northwind", "employees join employeeterritories on employees.employeeid = employeeterritories.employeeid", "employees") { View = true };

        employeesGrid.Columns = new List<string>() { "lastname", "firstname", "Title", "TitleOfCourtesy", "BirthDate", "HireDate", "Address", "City", "Region", "PostalCode", "Country", "HomePhone", "Extension", "photo", "notes", "reportsto", "photopath", "employees.EmployeeID", "territoryid" };

        employeesGrid.SetColumnLookup("reportsto", new Lookup("Employees", "EmployeeId", "lastname + ',' + firstname"));
        employeesGrid.SetColumnLookup("TerritoryId", new Lookup("territories", "TerritoryId", "territorydescription"));
        employeesGrid.SetColumnAsImage("Photo", new ImageConfiguration("jpg"));
        employeesGrid.SetColumnHidden(new String[] { "photo", "notes", "photopath" });
        employeesGrid.SetColumnView(new String[] { "firstname", "lastname", "photo", "notes", "photopath" });
        employeesGrid.Bind(EventType.OnViewRecordSelected, "updateTitle");
        employeesGrid.SetColumnAsForeignKey("TerritoryId");
        employeesGrid.SetColumnAsGroupHeader(new String[] { "TerritoryId" });

        DbNetComboCore territoriesCombo = new DbNetComboCore("northwind", "territories", "territoryid", "territorydescription", "territories") { ForeignKeyColumn = "regionid", Size = 10, MultipleSelect = true, AutoRowSelect = true };
        DbNetComboCore regionsCombo = new DbNetComboCore("northwind", "regions", "regionid", "regiondescription", "regions") { Size = 10, MultipleSelect = true, AutoRowSelect = true };
        territoriesCombo.AddLinkedControl(employeesGrid);
        regionsCombo.AddLinkedControl(territoriesCombo);
        @regionsCombo.Render()
    }
}

@section Source {
DbNetGridCore employeesGrid = new DbNetGridCore("northwind", "employees join employeeterritories on employees.employeeid = employeeterritories.employeeid", "employees") { View = true };

employeesGrid.Columns = new List<string>
() { "lastname", "firstname", "Title", "TitleOfCourtesy", "BirthDate", "HireDate", "Address", "City", "Region", "PostalCode", "Country", "HomePhone", "Extension", "photo", "notes", "reportsto", "photopath", "employees.EmployeeID", "territoryid" };

employeesGrid.SetColumnLookup("reportsto", new Lookup("Employees", "EmployeeId", "lastname + ',' + firstname"));
employeesGrid.SetColumnLookup("TerritoryId", new Lookup("territories", "TerritoryId", "territorydescription"));
employeesGrid.SetColumnAsImage("Photo", new ImageConfiguration("jpg"));
employeesGrid.SetColumnHidden(new String[] { "photo", "notes", "photopath" });
employeesGrid.SetColumnView(new String[] { "firstname", "lastname", "photo", "notes", "photopath" });
employeesGrid.Bind(EventType.OnViewRecordSelected, "updateTitle");
employeesGrid.SetColumnAsForeignKey("TerritoryId");
employeesGrid.SetColumnAsGroupHeader(new String[] { "TerritoryId" });

DbNetComboCore territoriesCombo = new DbNetComboCore("northwind", "territories", "territoryid", "territorydescription", "territories") { ForeignKeyColumn = "regionid", Size = 10, MultipleSelect = true, AutoRowSelect = true };
DbNetComboCore regionsCombo = new DbNetComboCore("northwind", "regions", "regionid", "regiondescription", "regions") { Size = 10, MultipleSelect = true, AutoRowSelect = true };
territoriesCombo.AddLinkedControl(employeesGrid);
regionsCombo.AddLinkedControl(territoriesCombo);
@@regionsCombo.Render()
    }


@section Scripts
    {
    <script type="text/javascript" class="source">
        function updateTitle(sender, args) {
            args.dialog.dialog("option", "title", args.record["firstname"] + " " + args.record["lastname"]);
        }</script>
}