@page
@using DbNetSuiteCoreApp.ViewModels;
@using DbNetSuiteCore.Components;
@using DbNetSuiteCore.Enums.DbNetGrid;

@model SampleModel
@section Title
{
    <p>The @Model.HelpLink("properties.htm#Columns","Columns") property allows you to select the particular columns from the table or view that you wish to display, search, edit etc. Associated corresponding labels can be specified with the @Model.HelpLink("properties.htm#Labels","Labels") property.</p>
}
@section Control
{
    @{
        DbNetGridCore customersGrid = new DbNetGridCore("northwind", "customers");
        customersGrid.Columns = new List<string>() { "CompanyName", "Address + ', ' + City as Addr", "Country", "Phone + '/' + Fax as PhoneFax" };
        customersGrid.Labels = new List<string>() { "Company Name", "Address", "Country", "Phone/Fax" };
       // customersGrid.SetColumnStyle(new string[] { "Addr", "PhoneFax" }, "text-align:left");
        @customersGrid.Render()
    }
}