@page
@using DbNetSuiteCoreApp.ViewModels;
@using DbNetSuiteCore.Components;
@using DbNetSuiteCore.Enums;
@using DbNetSuiteCore.Enums.DbNetGrid;
@model SampleModel

@section Title
{
    <p>By setting the @Model.HelpLink("properties.htm#FrozenHeader", "FrozenHeader") property to true you can keep the heading rows at the top of the screen as you scroll down the grid.</p>
}

@section Control {
    @{
    DbNetGridCore customersGrid = new DbNetGridCore("northwind", "customers")
    {
        Columns = new List<string>() { "CustomerId", "CompanyName", "ContactName", "ContactTitle", "Address", "City", "Region", "PostalCode", "Country", "Phone", "Fax" },
        ToolbarPosition = ToolbarPosition.Hidden,
        FrozenHeader = true
    };
    customersGrid.SetColumnFilter(new String[] { "CustomerId", "CompanyName", "ContactName", "ContactTitle", "Address", "City", "Region", "PostalCode", "Country", "Phone", "Fax" });

    @customersGrid.Render()
    }
}

@section Source {
DbNetGridCore customersGrid = new DbNetGridCore("northwind", "customers")
{
    Columns = new List<string>() { "CustomerId", "CompanyName", "ContactName", "ContactTitle", "Address", "City", "Region", "PostalCode", "Country", "Phone", "Fax" },
    ToolbarPosition = ToolbarPosition.Hidden,
    FrozenHeader = true
};
customersGrid.SetColumnFilter(new String[] { "CustomerId", "CompanyName", "ContactName", "ContactTitle", "Address", "City", "Region", "PostalCode", "Country", "Phone", "Fax" });

@@customersGrid.Render()
}
