@page
@using DbNetSuiteCoreApp.ViewModels;
@using DbNetSuiteCore.Components;
@using DbNetSuiteCore.Enums.DbNetGrid;

@model SampleModel
@section Title {
    <p>The @Model.HelpLink("methods.htm#GroupHeader", "GroupHeader") column property allows you select one or more columns to be used to separate groups of rows based on the change in value of any of the specified columns.</p>
}

@section Markup {
    <div class="source">
        <h5>Orders</h5>
        <div id="ordersGrid"></div>
        <br />
        <h5>Customers</h5>
        <div id="customersGrid"></div>
    </div>
}

@section Control {
    @{
        DbNetGridCore ordersGrid = new DbNetGridCore("northwind", "orders", "ordersGrid")
                {
                    Columns = new List<string>() { "OrderID", "CustomerID", "EmployeeID", "OrderDate", "RequiredDate", "ShippedDate", "ShipVia", "Freight" },
                    Labels = new List<string>() { "Order ID", "Customer ID", "Employee", "Date Ordered", "Date Required", "Date Shipped", "Ship Via", "Freight" },
                    PageSize = 10
                };
        ordersGrid.SetColumnAsGroupHeader(new string[] { "CustomerID" });
        ordersGrid.SetColumnLookup("EmployeeID", new Lookup("Employees", "EmployeeId", "lastname + ',' + firstname"));
        ordersGrid.SetColumnLookup("CustomerID", new Lookup("Customers", "CustomerId", "CompanyName"));
        ordersGrid.SetColumnLookup("ShipVia", new Lookup("Shippers", "ShipperId", "CompanyName"));
        @ordersGrid.Render()

        DbNetGridCore customersGrid = new DbNetGridCore("northwind", "customers", "customersGrid")
                {
                    Columns = new List<string>() { "ContactName", "ContactTitle", "Address", "Region", "PostalCode", "Phone", "Fax", "Country", "City" },
                    PageSize = 10
                };
        customersGrid.SetColumnAsGroupHeader(new String[] { "Country", "City" });

        @customersGrid.Render()
    }
}