@page
@using DbNetSuiteCore.Enums.DbNetGrid;
@using DbNetSuiteCoreApp.ViewModels;
@using DbNetSuiteCore.Components;
@using DbNetSuiteCore.Enums;

@model SampleModel
@section Title
{
    <p>This demo uses the @Model.HelpLink("events.htm#OnCellTransform", "OnCellTransform") event to add a link to the grid that is used to open another page with a query parameter used as a filter. The sample also demonstrates use of the @Model.HelpLink("dbnetgrid_column_properties.htm#DataOnly", "DataOnly") column property which will store the value of the column as a propery of the row instead of being displayed in a cell. This value in in turn used by the @Model.HelpLink("clientsideapi.htm#columnValue", "columnValue") client-side method to create the parameter in the link.</p>
}

@section Control{
    @{
        DbNetGridCore customersGrid = new DbNetGridCore("northwind", "customers");
        customersGrid.Columns = new List<string>() { "CompanyName", "Address","City", "Country", "Phone","Fax", "' ' as Orders", "CustomerId" };
        customersGrid.RowSelect = false;
        customersGrid.Labels = new List<string>() { "Company Name", "Address", "City", "Country", "Phone","Fax"," "," " };
        customersGrid.Column("CustomerId").DataOnly();
        customersGrid.Bind(EventType.OnCellTransform, "addButton");
        @customersGrid.Render()
    }
}

@section Source {
DbNetGridCore customersGrid = new DbNetGridCore("northwind", "customers");
customersGrid.Columns = new List<string>() { "CompanyName", "Address","City", "Country", "Phone","Fax", "' ' as Orders", "CustomerId" };
customersGrid.RowSelect = false;
customersGrid.Labels = new List<string>() { "Company Name", "Address", "City", "Country", "Phone","Fax"," "," " };
customersGrid.Column("CustomerId").DataOnly();
customersGrid.Bind(EventType.OnCellTransform, "addButton");
@@customersGrid.Render()
}

@section Scripts
{
<script type="text/javascript" class="source">
function addButton(sender, args) {
	switch(args.columnName.toLowerCase())
	{
        case "orders":
            var $cell = $(args.cell);
            var $row = $(args.row);
            var customerId = sender.columnValue("CustomerId", $row);
                    $cell.html(`<a target='_blank' href='/samples/dbnetgrid/detail?customerid=${customerId}'>Orders</a>`).css('background-color', '#fff').css('text-align', 'center')
			break;   
	}
}
</script>
}