@page
@using DbNetSuiteCoreApp.ViewModels;
@using DbNetSuiteCore.Components;

@model SampleModel

@section Title
{
    <p>The @Model.HelpLink("properties.htm#QuickSearch", "QuickSearch") adds a search text box to the toolbar adjacent to the @Model.HelpLink("properties.htm#Search", "Search") button. The @Model.HelpLink("properties.htm#QuickSearch", "QuickSearch") feature is simple to use and creates an easy way to search against multiple text columns giving users the best chance of finding the records they are looking for. Simply type your search criteria into the box and the search is actioned automatically when you stop typing.</p>
}

@section Control {
    @{
        DbNetGridCore customersGrid = new DbNetGridCore("northwind", "customers")
                {
                    QuickSearch = true
                };
        @customersGrid.Render()
    }
}

@section Source {
DbNetGridCore customersGrid = new DbNetGridCore("northwind", "customers")
{
    QuickSearch = true
};
@@customersGrid.Render()
}