@page
@using DbNetSuiteCoreApp.ViewModels;
@using DbNetSuiteCore.Components;

@model SampleModel

@section Title
{
    <p>At its simplest a grid can be created with a single of code. Just supply the connection alias (defined in your appsettings.json file) and a table or view name in the @Model.HelpLink("constructors.htm","constructor") of the control. The component will create a sortable, searchable, pageable and exportable grid based on the data in the specified table or view.</p>
}

@section Control
{
    @(new DbNetGridCore("northwind", "customers").Render())
}

@section Source
{
@@(new DbNetGridCore("northwind", "customers").Render())
}
