@page
@using DbNetSuiteCoreApp.ViewModels;
@using DbNetSuiteCore.Components;
@using DbNetSuiteCore.Enums;
@using DbNetSuiteCore.Enums.DbNetGrid;
@model SampleModel
@section Title
{
    <p>CSS styles can be applied to columns when being displayed with the column @Model.HelpLink("methods.htm#Style","Style") property.</p>
}

@section Control
{
    @{
        DbNetGridCore productsGrid = new DbNetGridCore("northwind", "Products");
        productsGrid.Columns = new List<string>() { "ProductName", "UnitPrice", "UnitsInStock" };
        productsGrid.Column("UnitPrice").Style("background-color:gold; color:steelblue").Format("c");
        productsGrid.ToolbarButtonStyle = ToolbarButtonStyle.ImageAndText;
        productsGrid.PageSize = 10;
       
        @productsGrid.Render()
    }
}


@section Source {
DbNetGridCore productsGrid = new DbNetGridCore("northwind", "Products");
productsGrid.Columns = new List<string>() { "ProductName", "UnitPrice", "UnitsInStock" };
productsGrid.Column("UnitPrice").Style("background-color:gold; color:steelblue").Format("c");
productsGrid.ToolbarButtonStyle = ToolbarButtonStyle.ImageAndText;
productsGrid.PageSize = 10;

@@productsGrid.Render()
}